@charset "UTF-8";
/* Container for news item */
.news-item {
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow: hidden; /* Ensure content does not overflow */
    align-items: center;
    margin-bottom: 0.5rem;
}

/* Truncate text with ellipses */
.news-title {
    display: block;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide text that overflows */
    text-overflow: ellipsis; /* Add ellipsis for overflowed text */
    max-width: 100%; /* Ensure it fits within its container */
    text-decoration: none; /* Remove underline */
    padding: 0 6px;
    transition: all 0.3s ease;
}

/* Tooltip style */
.news-title:hover {
  /* font-weight: 600;  */
  transform: scale(1.04); 
  color: #0056b3; 
}


.news-date {
  color: #6c757d; /* Adjust color if needed */
  flex-shrink: 0; /* Prevents the date from shrinking */
}

.load-more-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.load-more-button:hover {
  background-color: #0056b3;
}


/* Pagination buttons */
.pagination-controls button {
  background-color: #007bff; /* Bootstrap primary color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Disabled state for the "Previous" button */
.pagination-controls button[disabled] {
  background-color: #6c757d; /* Bootstrap secondary color for disabled button */
  cursor: not-allowed;
}

/* Hover effect for buttons */
.pagination-controls button:hover:not([disabled]) {
  background-color: #0056b3; /* Darker shade for hover effect */
}

/* Responsive adjustment for smaller screens */
@media (max-width: 768px) {
  .pagination-controls button {
      padding: 8px 15px;
      font-size: 14px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}
